{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
<img src="{{c.image.url}}" height="200px" width="400px" style="margin-center;margin-top:10px;">
</div>
<div class="container">
    <h4 class="text-align:justify;">{{c.name}}</h4>
    <p style="text-align:justify;">{{c.description}}</p>
</div>
    <div class="container-fluid" style="margin-bottom:100px;margin-top:50px;">
    <div class="row ">
        {%for i in product %}
        <div class=" col-sm-4 " style="height:600px;width:450px;">
            <div class="card" style="height:300px;width:450px;">
                <img src="{{i.image.url}}" class="card-img-top;"  alt="..." height="100px" style="margin-top:10px;">
                <div class="card-body">
                    <h5 class="card-title text-center">{{i.name}}</h5>
                    <h6 class="card-title text-center">Price: {{i.price}}</h6>
                    <a href="{% url 'shop:productdetails' i.slug %}" class="btn btn-primary" style="position:relative;left:38%;">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}