{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row ">
        <div class=" col-sm-6 mt-5" style="height:600px;width:450px;">
<img src="{{p.image.url}}" height="300px" width="400px">
</div>
        <div class=" col-sm-6 mt-5">
            <div class="card" style="height:300px;width:450px;">
                  <div class="card-body">
                    <h4 class="card-title text-center">{{p.name}}</h4>
                    <h6 class="card-title text-center">Price: {{p.price}}</h6>
                      <h6 class="card-title text-center">Description</h6>
                      <h6 class="card-title text-center">{{p.description}}</h6>
                      {% if p.stock <= 0 %}
                      <h2>Out of Stock</h2>
                      {% else %}
                    <a href="{% url 'cart:add_cart' p.id %}" class="btn btn-primary" style="position:relative;left:38%;">Add To Cart</a>
                      {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}