{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Register</h1>
<form method="POST">
    {% csrf_token %}
      <div class="mb-3">
    <label class="form-label" class="form-label">Username</label>
    <input type="text" name="a" class="form-control">
    <div class="form-text">Enter Username</div>
  </div>
     <div class="mb-3">
    <label class="form-label" class="form-label">Password</label>
    <input type="password" name="b" class="form-control">
  </div>
         <div class="mb-3">
    <label class="form-label">Confirm Password</label>
    <input type="password" name="c" class="form-control">
  </div>
      <div class="mb-3">
    <label class="form-label">Email address</label>
    <input type="email" name="d" aria-describedby="emailHelp" class="form-control">
  </div>
    <div class="mb-3">
  <label class="form-label" class="form-label">First Name</label>
  <input type="text" class="form-control"  placeholder="Enter Name" name="e">
</div>
    <div class="mb-3">
  <label class="form-label" class="form-label">Last Name</label>
  <input type="text" class="form-control"  placeholder="Enter Name" name="f">
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% if messages %}
{% for i in messages %}
<ul class="messages">
    <li>{{i}}</li>
</ul>
{% endfor %}
{% endif %}
{% endblock %}